
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
  <a href="https://46b89afc1cef456197f09442683fa744.vfs.cloud9.us-east-2.amazonaws.com/">Home page</a> 
  
  <a href="reservations">Customer</a>
  <a href="bojangles">Business</a>
  
</div>



</body>
</html>

<h1>Parking Lots</h1>


<table>
    <tr>
        <th>Name </th>
        <th>Address </th>
        <th>Number of Spots </th>
    </tr>
    
    <% @bojangle.each do |bojangle| %>
        <tr>
            <td><%= bojangle.name %></td>
            <td><%= bojangle.address %></td>
            <td><%= bojangle.spots %></td>
            <td><%= link_to 'Show' , bojangle_path(bojangle) %></td>
            <td><%= link_to 'Update' , edit_bojangle_path(bojangle) %></td>
             <td><%= link_to 'Destroy',
                                    bojangle_path(bojangle),
                                    method: :delete,
                                    data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>
<%= link_to 'New Parking Lot', new_bojangle_path %>