<h1>Listing parking spaces</h1>
<%= link_to 'New lots', new_spot_path %>
<table>
    <tr>
        <th>Parking spaces</th>
    </tr>
    
    <% @spot.each do |spot| %>
        <tr>
            <td><%= spot.num %></td>
            <td><%= link_to 'Show' , spot_path(spot) %></td>
            <td><%= link_to 'Update' , edit_spot_path(spot) %></td>
             <td><%= link_to 'Destroy',
                                    spot_path(spot),
                                    method: :delete,
                                    data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>