
<p>
    <strong>Lot:</strong>
    <%= @reservation.lot %>
</p>

<p>
    <strong>License:</strong>
    <%= @reservation.license %>
</p>

<p>
    <strong>Make:</strong>
    <%= @reservation.make %>
</p>

<p>
    <strong>Model:</strong>
    <%= @reservation.model%>
</p>
<%= link_to 'Reservation List', reservations_path %><br />
<%= link_to 'Business', business_path %>