<h1>Parking Lots</h1>
<%= link_to 'Add a Parking Lot', new_buisness_path %>

<table>
    <tr>
        <th>Parking Lot</th>
        <th>Address</th>
    </tr>
    
    <% @buisness.each do |buisness| %>
        <tr>
            <td><%= buisness.name %></td>
            <td><%= buisness.address %></td>
            <td><%= link_to 'Show' , buisness_path(buisness) %></td>
            <td><%= link_to 'Update' , edit_buisness_path(buisness) %></td>
             <td><%= link_to 'Destroy',
                                    buisness_path(buisness),
                                    method: :delete,
                                    data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
</table>
